# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.iml

# Frontend
invoice-client-starter/node_modules/
invoice-client-starter/dist/
invoice-client-starter/.vite/

# Backend
invoice-server-starter/target/
invoice-server-starter/build/
*.log
*.class

# Environment files
.env
.env.*
!.env.example
